
<!-- views/partials/footer.ejs -->

<div class="container-fluid bg-info w-100" style="height:3rem">
    <p class="text-center text-white align-middle" style="font-size:1.5rem">Node Assignment...</p>
    </div>