<!-- views/partials/header.ejs -->

<div class="container-fluid bg-info w-100" style="height:3rem">
    <nav class="navbar navbar-expand-sm navbar-light text-white">
        <ul class="navbar-nav mx-auto align-middle" style="text-align:center">
          <li class="nav-item active" style="font-size:1.5rem">
            <a class="nav-link text-white px-lg-4" href="#">Home</a>
          </li>
          <li class="nav-item" style="font-size:1.5rem">
            <a class="nav-link text-white px-lg-4" href="#">About</a>
          </li>
          <li class="nav-item" style="font-size:1.5rem">
            <a class="nav-link text-white px-lg-4" href="#">Contact</a>
          </li>
          <li class="nav-item" style="font-size:1.5rem">
            <a class="nav-link text-white px-lg-4" href="#">More Info</a>
          </li>
        </ul>
      </nav>
      
</div>