<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">

    <header>
        <% include ./partials/header %>
    </header><br><br>

    <main>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="username" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="sel1">Roles:</label>
                <select class="form-control" id="role" name="role">
                    <option>Admin</option>
                    <option>Vendor</option>
                    <option>Customer</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main><br><br>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>